@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="mb-3">@ViewData["Title"]</h4>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}