@page
@model LockoutModel
@{
  ViewData["Title"] = "Locked out";
	ViewData["AppSidebarNone"] = "true";
	ViewData["AppHeaderNone"] = "true";
	ViewData["AppBodyClass"] = "pace-top";
	ViewData["AppContentClass"] = "p-0";
	ViewData["AppClass"] = "app-without-sidebar app-without-header app-content-full-height";
}

<div class="vh-100 d-flex align-items-center">
	<div class="container-sm p-5">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<h1 class="text-center">@ViewData["Title"]</h1>
				<h6 class="text-center text-gray-600 lh-15 mb-5 pb-5">This account has been locked out, please try again later.</h6>
			</div>
		</div>
	</div>
</div>