@page
@model LoginWith2faModel
@{
  ViewData["Title"] = "Two-factor authentication";
	ViewData["AppSidebarNone"] = "true";
	ViewData["AppHeaderNone"] = "true";
	ViewData["AppBodyClass"] = "pace-top";
	ViewData["AppContentClass"] = "p-0";
	ViewData["AppClass"] = "app-without-sidebar app-without-header app-content-full-height";
}

<div class="vh-100 d-flex align-items-center">
	<div class="container-sm p-5">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<h2 class="text-center">@ViewData["Title"]</h2>
				<h6 class="text-center text-gray-600 lh-15">Your login is protected with an authenticator app. Enter your authenticator code below.</h6>
				<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
					<input asp-for="RememberMe" type="hidden" />
					<div asp-validation-summary="All" class="text-red-700 fw-bold"></div>
					<div class="mb-3">
						<label asp-for="Input.TwoFactorCode" class="form-label"></label> <span class="text-danger">*</span>
						<input asp-for="Input.TwoFactorCode" class="form-control form-control-lg fs-13px" autocomplete="off" />
						<div class="mt-1"><span asp-validation-for="Input.TwoFactorCode" class="text-red-700 fw-bold"></span></div>
					</div>
					<div class="mb-3">
						<div class="form-check">
							<input class="form-check-input" asp-for="Input.RememberMachine" />
							<label class="form-check-label" asp-for="Input.RememberMachine">
								@Html.DisplayNameFor(m => m.Input.RememberMachine)
							</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Log in</button>
					</div>
        </form>
				<hr class="my-4 bg-gray-500" />
				<p>
					Don't have access to your authenticator device? You can
					<a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
				</p>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
