@page
@model LoginModel

@{
	ViewData["Title"] = "Acceder";
	ViewData["AppSidebarNone"] = "false";
	ViewData["AppHeaderNone"] = "false";
	ViewData["AppThemePanel"] = "false";
	ViewData["AppBodyClass"] = "pace-top";
	ViewData["AppContentClass"] = "p-0";
	ViewData["AppClass"] = "";
	var randomBg = new Random().Next(1, 19);
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<!-- BEGIN login -->
	<div class="login login-with-news-feed">
		<!-- BEGIN news-feed -->
		<div class="news-feed">
			<div class="news-image" style="background-image: url(/img/login-bg/login-bg-@(randomBg).jpg)"></div>
			<div class="news-caption">
				<h4 class="caption-title"><b>CostTrackR</b> Admin App</h4>
				<p>
					Además de web también es compatible con plataformas iPhone®, iPad® & Android™.
				</p>
			</div>
		</div>
		<!-- END news-feed -->

		<!-- BEGIN login-container -->
		<div class="login-container">
			<!-- BEGIN login-header -->
			<div class="login-header mb-30px">
				<div class="brand">
					<div class="d-flex align-items-center">
						<span class="logo"></span>


						<b>CostTrackR</b> Admin
					</div>
					<small>Acceder a la plataforma</small>
				</div>
				<div class="icon">
					<i class="fa fa-sign-in-alt"></i>
				</div>
			</div>
			<!-- END login-header -->

			<!-- BEGIN login-content -->
			<div class="login-content">
				<form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
					<div asp-validation-summary="All" class="text-danger-700 fw-bold mt-3"></div>
					<div class="mb-3">
						<div><label asp-for="Input.Email" for="email" class="form-label"></label> <span class="text-danger">*</span></div>
						<input asp-for="Input.Email" id="email" class="form-control form-control-lg py-10px fs-13px" placeholder="e.g username@address.com" />
						<div class="mt-1"><span asp-validation-for="Input.Email" class="text-danger-700 fw-bold"></span></div>
					</div>
					<div class="mb-3">
						<div><label asp-for="Input.Password" class="form-label"></label> <span class="text-danger">*</span></div>
						<input asp-for="Input.Password" class="form-control form-control-lg py-10px fs-13px" />
						<div class="mt-1"><span asp-validation-for="Input.Password" class="text-danger-700 fw-bold"></span></div>
					</div>
					<div class="mb-3">
						<div class="form-check">
							<input class="form-check-input" asp-for="Input.RememberMe" />
							<label asp-for="Input.RememberMe" class="form-check-label">
									@Html.DisplayNameFor(m => m.Input.RememberMe)
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-primary d-block btn-lg w-100 mb-3 py-10px">Acceder</button>
					
					<div class="row">
						<div class="col-6">
							<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar correo de confirmacion</a>
						</div>
						<div class="col-6 text-end">
							<a id="forgot-password" asp-page="./ForgotPassword">¿Olvidó la contraseña?</a>
						</div>
					</div>
				</form>
			</div>
			<!-- END login-content -->
		</div>
		<!-- END login-container -->
	</div>
	<!-- END login -->
}
