@page
@model LoginWithRecoveryCodeModel
@{
  ViewData["Title"] = "Recovery code verification";
	ViewData["AppSidebarNone"] = "true";
	ViewData["AppHeaderNone"] = "true";
	ViewData["AppBodyClass"] = "pace-top";
	ViewData["AppContentClass"] = "p-0";
	ViewData["AppClass"] = "app-without-sidebar app-without-header app-content-full-height";
}

<div class="vh-100 d-flex align-items-center">
	<div class="container-sm p-5">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<h2 class="">@ViewData["Title"]</h2>
				<h6 class="text-gray-600 lh-15">
					You have requested to log in with a recovery code. This login will not be remembered until you provide an authenticator app code at log in or disable 2FA and log in again.
				</h6>
        <form method="post">
					<div asp-validation-summary="All" class="text-red-700 fw-bold"></div>
					<div class="mb-3">
						<label asp-for="Input.RecoveryCode" class="form-label"></label> <span class="text-danger">*</span>
						<input asp-for="Input.RecoveryCode" class="form-control form-control-lg fs-13px" autocomplete="off" />
						<div class="mt-1"><span asp-validation-for="Input.RecoveryCode" class="text-red-700 fw-bold"></span></div>
					</div>
					<button type="submit" class="btn btn-primary">Log in</button>
        </form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
